<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
<!-- Bootstrap core JS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<style>
    .bd-placeholder-img 
    {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) 
    {
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }
    }
    #footer {
position:fixed;
bottom:0px;
width:100%;
}


</style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="album py-5 bg-light">
    <div class="container">
    <h1></h1>
    

    <script>


function getUrlVar(){
var urlVar = window.location; // получаем параметры из урла
var arrayVar = []; // массив для хранения переменных
var valueAndKey = []; // массив для временного хранения значения и имени переменной
var resultArray = []; // массив для хранения переменных
//arrayVar = (urlVar.substr(1)); // разбираем урл на параметры
if(arrayVar[0]=="") return false; // если нет переменных в урле
for (i = 0; i < arrayVar.length; i ++) { // перебираем все переменные из урла
    valueAndKey = arrayVar[i].split('='); // пишем в массив имя переменной и ее значение
    resultArray[valueAndKey[0]] = valueAndKey[1]; // пишем в итоговый массив имя переменной и ее значение
}
return resultArray; // возвращаем результат

}

// вывод в консоль массива со всеми переменными
const searchString = new URLSearchParams(window.location);
//var paramsString = window.location;
//var numEl = Number(paramsStrin.replace(/\D+/g,""));
//console.log(numEl);
//console.log(paramsString);
//console.log(paramsString.split('=', 1));
//var arr = paramsString.split('/');
//console.log(paramsString.split('='));

//var a = getUrlVar();


        function getAdvertisers(page, size, desc){
          let pageNumber = (typeof page !== 'undefined') ?  page : 0;
              let sizeNumber = (typeof size !== 'undefined') ?  size : 2;
              let descDirection = (typeof desc !== 'undefined') ?  desc: false;
              var paramsString = window.location;
              paramsString = paramsString+"";
              //var arr = paramsString.split('/', 1);
              var a = paramsString.length;
              for (var i = 37; i < a; i++)
              {
                var urlid = '';
                urlid = urlid + paramsString[i];
              }
          $.ajax({
          type : "GET",
      url : "http://localhost:8081/api/campaingsList/"+urlid,
      contentType: "application/json; charset=utf-8",
          data: { 
              page: pageNumber, 
              size: sizeNumber,
              desc: descDirection
          },

      success: function(json) {
          var tr=[];
          console.log(json);
          for (var i = 0; i < json.campaings.length; i++) {
          tr.push('<div class="alert alert-info mt-2">');
          tr.push('<h3>' + json.campaings[i].title + '</h3>');
          tr.push('<p>' + json.campaings[i].full_txt + '</p>');
          tr.push('<img src="'+ json.campaings[i].url +'" width="100" height="80" /><br>');
          // tr.push('<td><button type="button" class="btn btn-success edit city">Редактировать</button>&nbsp;&nbsp;<button type="button" class="btn btn-danger delete city" id=' + json.advertisers[i].id + '>Удалить</button></td><br><br>');
          
          tr.push('<td><a href="/advertisers/id'+json.campaings[i].id+'" class="btn btn-success edit city">Подробнее</a></td>');
          tr.push('</div>');
          }

          if ($('ul.pagination li').length - 2 != json.totalPages){
        $('ul.pagination').empty();
       
      }
        
      
$('#campaings').html(tr.join(''));

        }
        });
        
      }
     
        $(document).ready(function() {
          getAdvertisers();
        })
        
        </script>



    <div th:each="el : ${advertisers}" class="alert alert-info mt-2">
        <p th:text="${el.url}"></p>
        <h1 th:text="${el.title}"></h1>
        <p th:text="${el.age}"></p>
        <p th:text="${el.languages}"></p>
        <p th:text="${el.countries}"></p>
        <p th:text="${el.full_txt}"></p>
        <a th:href="'/advertisers/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/news/' + ${el.id} + '/remove'" method="post">
        <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div> 

    <div id="campaings" > </div>
    
            
        </div>
        </div>
    
        

<footer th:insert="blocks/footer :: footer"></footer>
<body>
</html>